* @Pact-Community-Organization/maintainers

/.github/ @Pact-Community-Organization/maintainers
/packages/ @Pact-Community-Organization/maintainers
/scripts/ @Pact-Community-Organization/maintainers
/docs/ @Pact-Community-Organization/maintainers
